/* Background */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 background: linear-gradient(to right, #fcb322ff, #f65920ff);
  font-family: "Poppins", sans-serif;
  
}

/* Card */
.login-card {
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeInUp 0.8s ease-out;
}

/* Title */
.login-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 25px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inputs */
.login-input {
  padding: 12px 15px;
  border-radius: 12px;
  border: 2px solid #ddd;
  outline: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.login-input:focus {
  border-color: #2575fc;
  box-shadow: 0 0 10px rgba(37, 117, 252, 0.4);
}

/* Button */
.login-btn {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #fd18c4, #ed268dff);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 18px rgba(37, 117, 252, 0.35);
}

/* Register link */
.login-link {
  color: #2575fc;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #ed268dff;
}

/* Actions row */
.login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
